<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="angular.min.js"></script>
    <script src="src/keystroke-analyzer-directive.js"></script>
    <script src="demo.js"></script>
</head>
<body ng-app="demo" ng-controller="Ctrol">
<input type="text" keystroke/><button ng-click="getStorkes(0)">get</button>
<input type="text" keystroke/><button ng-click="getStorkes(1)">get</button><br><br><br><br><br>
<input type="text" ng-model="InputA"><input type="text" ng-model="InputB">
</body>
</html>